@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Montserrat;
    letter-spacing: .1rem;
    transition: ease .3s;
    scroll-behavior: smooth;
}

*::selection {
    background-color: var(--clr3);
    color: var(--clr4);
}

:root {
    --clr1: #08D9D6;
    --clr2: #252A34;
    --clr3: #FF2E63;
    --clr4: #EAEAEA;
    --clr5: #ffffff;
}

html {
    font-size: 14px;
}

a {
    display: inline-block;
}

.container {
    width: 95%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 10rem 0;
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    text-align: center;
}

.sub-heading {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
}

.para {
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.button {
    background-color: var(--clr4);
    color: var(--clr2);
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.button:hover {
    background-color: var(--clr3);
    color: var(--clr4);
}

header {
    width: 100%;
    background-color: var(--clr4);
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: #252a342e 0 .1rem .5rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header .logo {
    width: 4rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    font-size: 1.2rem;
    color: var(--clr2);
    padding: .5rem 1rem;
    border-radius: .3rem;
}

header nav a:hover {
    color: var(--clr4);
    background-color: var(--clr3);
}

/* hero section starts */
#hero {
    width: 100%;
    height: 100vh;
    background-color: var(--clr4);
    position: relative;
}

#hero .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#hero .left .greeting {
    font-size: 1.2rem;
    color: var(--clr3);
    letter-spacing: .1rem;
    font-weight: 600;
}

#hero .left .title {
    font-size: 3rem;
    letter-spacing: .2rem;
}

#hero .left .field {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 600;
}

#hero .right img {
    width: 100%;
    max-width: 30rem;
}

#hero .social {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#hero .social a {
    color: var(--clr2);
    font-size: 2.2rem;
}

#hero .social a:hover {
    color: var(--clr3);
}

/* hero section ends */

/* about me section starts */
#about {
    background-color: var(--clr2);
    color: var(--clr4);
}

#about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

#about .heading {
    text-align: left;
}

#about .left img {
    width: 35rem;
}

#about .right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#about .buttons {
    display: flex;
    gap: 1.5rem;
}

#about .cv {
    background-color: var(--clr3);
    color: var(--clr4);
}

#about .cv:hover {
    background-color: var(--clr4);
    color: var(--clr2);
}

/* about me section ends */

/* skills section starts */
#skills {
    background-color: var(--clr4);
    color: var(--clr2);
}

#skills .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#skills .skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#skills .skill {
    width: 100%;
    max-width: 35rem;
    gap: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#skills .skill-bar {
    width: 100%;
    background-color: var(--clr5);
    border-radius: .2rem;
}

#skills .skill-progress {
    height: .8rem;
    background-color: var(--clr2);
    border-radius: .2rem;
    position: relative;
}

#skills .web-design {
    width: 90%;
}

#skills .marketing {
    width: 97%;
}

#skills .web-developement {
    width: 95%;
}

#skills .seo-marketing {
    width: 92%;
}

#skills .skill-name,
#skills .skill-percent {
    font-size: 1.2rem;
    font-weight: 500;
}

#skills .skill-percent {
    position: absolute;
    right: 0;
    top: -2.5rem;
}

/* skills section ends 

/* services section starts */
#services {
    background-color: var(--clr2);
    color: var(--clr4);
}

#services .heading {
    margin-bottom: 3rem;
}

#services .service-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services .service {
    width: 18rem;
    background-color: var(--clr4);
    color: var(--clr2);
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#services .service:hover {
    background-color: var(--clr3);
    color: var(--clr4);
    transform: scale(1.05);
}

#services .service ion-icon {
    font-size: 3rem;
}

#services .service-name {
    font-size: 1.2rem;
    font-weight: 600;
}

/* services section ends */

/* portfolio section starts */
#portfolio {
    background-color: var(--clr4);
    color: var(--clr2);
}

#portfolio .heading {
    margin-bottom: 3rem;
}

#portfolio nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

#portfolio nav a {
    color: var(--clr2);
    font-size: 1.2rem;
}

#portfolio nav a:hover {
    color: var(--clr3);
}

#portfolio .project-container {
    display: flex;
    gap: 1rem;
    width: 100%;
}

#portfolio .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#portfolio .row {
    display: flex;
    gap: 1rem;
}


#portfolio .project {
    width: 100%;
    border-radius: .8rem;
    overflow: hidden;
    position: relative;
}

#portfolio .p1,
#portfolio .p3,
#portfolio .p4,
#portfolio .p5 {
    width: 25rem;
    height: 20rem;
}

#portfolio .p2,
#portfolio .p6 {
    width: 25rem;
    height: 41rem;
}

#portfolio .p7 {
    width: 51rem;
    height: 41rem;
}

#portfolio .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#portfolio .project .hidden {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    border-radius: .5rem;
    background: #eaeaeab1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    opacity: 0;
    padding-top: 10rem;
}

#portfolio .project:hover {
    box-shadow: #252a342e 0 0 1rem .1rem;
}

#portfolio .project:hover .hidden {
    opacity: 1;
    padding-top: 0;
}

#portfolio .project .hidden .project-name {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--clr3);
}

#portfolio .project .hidden .project-type {
    font-size: 1.2rem;
    font-weight: 500;
}

/* portfolio section ends *


/* resume section starts */
#resume {
    background-color: var(--clr2);
    color: var(--clr4);
}

#resume .heading {
    margin-bottom: 2rem;
}

#resume .resume-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#resume .sub-heading {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#resume .sub-heading ion-icon {
    font-size: 3rem;
}

#resume .card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#resume .card {
    width: 100%;
    max-width: 35rem;
    height: 15rem;
    background-color: var(--clr4);
    color: var(--clr2);
    padding: 2rem;
    border-radius: .3rem;
    border-bottom: solid .2rem var(--clr3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

#resume .card .title {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .5rem;
}

#resume .card .title ion-icon {
    font-size: 2.5rem;
}

#resume .card .tag {
    opacity: .5;
}

#resume .card:hover {
    transform: scale(1.02);
}

#resume .card:hover .tag {
    opacity: 1;
}

/* resume section emds */


/* testimonials section starts */
#testimonials {
    background-color: var(--clr4);
    color: var(--clr2);
}

#testimonials .container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#testimonials .testimonials-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#testimonials .testimonial {
    width: 100%;
    max-width: 30rem;
    background-color: var(--clr2);
    color: var(--clr4);
    padding: 2rem;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

#testimonials .testimonial .name {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

#testimonials .testimonial .designation {
    opacity: .5;
    text-align: center;
}

#testimonials .testimonial .msg {
    text-align: center;
}

#testimonials .testimonial img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    border: solid .2rem var(--clr3);
    position: absolute;
    top: -25%;
    left: 1rem;
}

#testimonials .status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#testimonials .status {
    width: 100%;
    max-width: 18rem;
    padding: 1rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

#testimonials .status ion-icon {
    font-size: 3rem;
    opacity: .5;
}

#testimonials .status .title {
    font-size: 1.5rem;
    font-weight: 600;
}

#testimonials .status .count {
    opacity: .5;
    font-size: 1.5rem;
}

/* testimonials section ends */


/* clients section starts */
#clients {
    background-color: var(--clr2);
    color: var(--clr4);
}

#clients .heading {
    margin-bottom: 2rem;
}

#clients .clients-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#clients .client {
    width: 100%;
    max-width: 35rem;
    height: 10rem;
    background-color: var(--clr4);
    padding: 2rem;
    border-radius: .3rem;
    overflow: hidden;
}

#clients .client:hover {
    transform: scale(1.03);
}

#clients .client img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* clients section ends */


/* blog section starts */
#blog {
    background-color: var(--clr4);
    color: var(--clr2);
}

#blog .heading {
    margin-bottom: 2rem;
}

#blog .blog-container {
    display: flex;
    gap: 1rem;
}

#blog .col1 {
    width: 100%;
    max-width: 25rem;
    height: fit-content;
}

#blog .col2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#blog .row {
    display: flex;
}

#blog .blog {
    overflow: hidden;
    background-color: var(--clr2);
    color: var(--clr4);
    border-radius: .5rem;
}

#blog .blog:hover {
    box-shadow: #252a342e 0 0 1rem .1rem;
}

#blog .blog img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#blog .blog .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

#blog .blog-title {
    font-size: 1.6rem;
}

#blog .blog .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#blog .bottom a {
    color: var(--clr3);
}

#blog .bottom .social {
    display: flex;
    gap: .5rem;
}

#blog .bottom .social a {
    color: var(--clr4);
}

#blog .bottom .social ion-icon {
    font-size: 1.5rem;
}

/* blog section ends */


/* contact section starts */
#contact {
    background-color: var(--clr2);
    color: var(--clr4);
}

#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#contact .para {
    text-align: center;
    margin: 1rem 0 2rem 0;
}

#contact .contact-container {
    background-color: var(--clr4);
    color: var(--clr2);
    width: 100%;
    margin: 2rem 0;
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#contact .contact-info {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

#contact .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#contact .info ion-icon {
    font-size: 3rem;
}

#contact .info a {
    color: var(--clr2);
    font-size: 1.2rem;
    font-weight: 500;
}

#contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

#contact form .row {
    width: 100%;
    display: flex;
    gap: 1rem;
}

#contact .col1 {
    width: 100%;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact .col2 {
    width: 100%;
}

#contact .col2 textarea {
    height: 12.5rem;
}

#contact form input,
#contact form textarea {
    width: 100%;
    background-color: var(--clr4);
    color: var(--clr2);
    border: none;
    outline: solid .1rem #252a342e;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    border-radius: .2rem;
    resize: none;
}

#contact form input:focus,
#contact form textarea:focus {
    outline: solid .1rem var(--clr2);
    box-shadow: #252a342e 0 0 1rem .1rem;
}


#contact form button {
    background-color: var(--clr2);
    color: var(--clr4);
    padding: 1rem 2rem;
    width: 16rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: 500;
}

#contact form button:hover {
    background-color: var(--clr3);
}

/* contact section ends */


/* footer starts */
footer {
    background-color: var(--clr2);
    color: var(--clr4);
}

footer .container {
    padding: 1rem 0;
}

footer .social {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

footer .social a {
    color: var(--clr4);
    font-size: 2.5rem;
}

footer .copyright {
    text-align: center;
}

footer .copyright a {
    color: var(--clr3);
}

/* footer ends */

/* backtotop */
.back-to-top {
    position: fixed;
    background-color: var(--clr3);
    color: var(--clr4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: .5rem;
    border-radius: .2rem;
    bottom: 2rem;
    right: 2rem;
}